<?xml version="1.0" encoding="UTF-8"?>

<plugin id="cordova-plugin-fastcam" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>cordova-plugin-fastcam</name>
  <description>Take pictures with the lowest possible latency and a very exact timestamp for time sensitive applications.</description>
  <license>Apache 2.0</license>
  <keywords>cordova,phonegap,ecosystem:cordova,cordova-android,ionic,camera,cam,camera-preview,preview</keywords>

  <js-module src="www/FastCamera.js" name="FastCamera">
    <clobbers target="FastCamera" />
  </js-module>

  <platform name="android">
    <!-- Will be replaced when executing 'process_plugin_xml.js' -->
    <!-- <java-files-start /> -->
<source-file src="src/android/java/CameraActivity.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/CameraMode.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/FastCamera.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/FileUtils.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/GeoidHeight.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/GpsCommunication.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/GpsDataCallback.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/NMEA.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/PerformanceAnalysis.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/ResultingFile.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/UTM.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/WGS84.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/math/AbstractInterpolation.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/math/BilinearInterpolation.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/math/HeapSelect.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/math/KDTree.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/math/LinearInterpolation.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/math/MathUtil.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/math/Neighbor.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/math/NeighborBuilder.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/math/PointAltitudeInterpolator.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/math/Sort.java" target-dir="src/com/cordovapluginfastcam" />
<source-file src="src/android/java/GPSPosition.java" target-dir="src/com/cordovapluginfastcam" />
    <!-- <java-files-end /> -->
    <!-- <source-file src="src/android/CameraActivity.java" target-dir="src/com/cordovapluginfastcam" />
    <source-file src="src/android/FileUtils.java" target-dir="src/com/cordovapluginfastcam" />
    <source-file src="src/android/PerformanceAnalysis.java" target-dir="src/com/cordovapluginfastcam" />
    <source-file src="src/android/CameraMode.java" target-dir="src/com/cordovapluginfastcam" />
    <source-file src="src/android/ResultingFile.java" target-dir="src/com/cordovapluginfastcam" />
    <source-file src="src/android/NMEA.java" target-dir="src/com/cordovapluginfastcam" />
    <source-file src="src/android/GpsDataCallback.java" target-dir="src/com/cordovapluginfastcam" />
    <source-file src="src/android/GpsCommunication.java" target-dir="src/com/cordovapluginfastcam" /> -->

    <source-file src="src/android/layout/activity_camera.xml" target-dir="res/layout" />
    <source-file src="src/android/drawable/ic_baseline_videocam_24.xml" target-dir="res/drawable" />
    <source-file src="src/android/assets/alto_adige/grid_h.txt" target-dir="assets/alto_adige" />
    <source-file src="src/android/assets/alto_adige/grid_x.txt" target-dir="assets/alto_adige" />
    <source-file src="src/android/assets/alto_adige/grid_y.txt" target-dir="assets/alto_adige" />

    <source-file src="src/android/assets/italgeo90/grid_h.txt" target-dir="assets/italgeo90" />
    <source-file src="src/android/assets/italgeo90/grid_x.txt" target-dir="assets/italgeo90" />
    <source-file src="src/android/assets/italgeo90/grid_y.txt" target-dir="assets/italgeo90" />

    <framework src="com.otaliastudios:cameraview:2.6.4" />
    <framework src="com.google.android.material:material:1.3.0" />
    <framework src="androidx.appcompat:appcompat:1.1.0" />
    <framework src="androidx.constraintlayout:constraintlayout:1.1.3" />
    <!-- <framework src="dep.gradle" custom="true" type="gradleReference" /> -->
    
    <lib-file src="lib/usb-serial-for-android-3.3.0.jar" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="FastCamera">
        <param name="android-package" value="com.cordovapluginfastcam.FastCamera" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-feature android:name="android.hardware.camera" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:label="Camera Activity" android:name="com.cordovapluginfastcam.CameraActivity" android:screenOrientation="portrait"></activity>
    </config-file>
  </platform>

</plugin>
